extends layout

block content
    h1 Employee Details

    // Display details of a single employee
    table.table.table-striped.table-bordered
        tbody
            tr
                td ID:
                td= employee.id
            tr
                td Name:
                td= employee.name
