extends layout

block content
    h1 Employee Management

    // Display employees in a table
    table.table.table-striped.table-bordered#employeeTable
        thead
            tr
                th ID
                th Name
                th Actions
        tbody
            each employee in employees
                tr
                    td= employee.id
                    td= employee.name
                    td
                        a(href='/employees/edit/#{employee.id}') Edit
                        a(href='/employees/delete/#{employee.id}') Delete
